.logo {
  height: auto;
  width: 200px;
}

.brandLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.logo.landing {
  filter: none;
}

.logo.dashboard {
  margin: 0;
  display: block;
  filter: none;
  height: auto;
  width: 100%;
  max-width: 210px;
}

.logo.checkout {
  width: auto;
  height: 50px;
  margin-bottom: 20px;
}
