/* logo css */
.logo_modal {
  position: fixed;
  left: 50%;
  width: 40vw;
  max-height: 50vh;
  overflow-y: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: all 0.3s ease;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 3px 0 lightgray;
  border-radius: 5px;
}
.logo_modal h6 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(142, 141, 141);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.logo_modal i {
  font-size: 30px;
  color: var(--primary);
  cursor: pointer;
}
