.login,
.signup {
  position: absolute;
  padding: 40px 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: auto;
  border-radius: 30px;
  background-color: #00317f;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 lightgray;
}
.signup {
  width: 40rem;
}
.login hr {
  color: white;
}
.login a {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.login p {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  text-align: start;
}

@media screen and (max-width: 700px) {
  .signup {
    width: 30rem;
    zoom: 0.8;
  }
}

@media screen and (max-width: 576px) {
  .login,
  .signup {
    width: 22rem;
    zoom: 90%;
  }
}
