.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 3px 0 lightgray;
  border-radius: 5px;
}
.modal h6 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 300px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(206, 65, 13);
}
.modal h6 i {
  font-size: 25px;
  margin-right: 10px;
}
