.dropdown {
  padding: 6px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: rgb(141, 138, 138);
  border: 1px solid gray;
  border-radius: 3px;
}

.dropdown.active {
  color: black;
}

.search {
  position: sticky;
  top: 0;
  width: 100%;
}

#icon {
  position: absolute;
  right: 10px;
}

.menu {
  position: absolute;
  display: none;
  z-index: 999;
  max-height: 150px;
  background: white;
  border: 1px solid lightgray;
  min-width: 100%;
  width: max-content;
  max-width: 300px;
  top: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
}

.menu.active {
  display: block;
}

.menu li {
  list-style: none;
  padding: 5px 0.8rem;
}

.menu li:hover {
  background-color: var(--primary);
}

.menu li:hover a {
  color: white;
}

.menu li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 14px;
}

.activelink {
  background-color: var(--hover);
}